<div class='container'>
  
  <h1>Columns experiment page!</h1>
  </br>
  
  <div class='row'>
    <div class='col-md-12'>
      <div class ='column-layout'>
        
        <div class='main-column'>
          <h2> Welcome to the column experiment </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quaerat modi dolorum ullam reiciendis magni accusamus minima ex ipsa consectetur veritatis architecto quidem labore eaque blanditiis. Nulla, ducimus doloribus nam.</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, delectus, voluptatibus, quae, excepturi rerum quia beatae tempora optio ad distinctio nobis sed enim quidem alias facere rem culpa tempore ducimus.</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, praesentium qui ipsum nam facilis alias molestiae cumque beatae voluptatem! Velit reiciendis rem excepturi quaerat enim eius debitis porro natus cupiditate!</p>
        </div>
        
        <div class='sidebar-1'>
          <h4> Sidebar 1 </h4>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, inventore tempora asperiores molestiae facilis accusantium magnam voluptas illo numquam reprehenderit. Et voluptatem quos odio. Repellendus, molestias quibusdam eveniet amet possimus.</p>
        </div>
        
        <div class='sidebar-2'>
          <h4> Sidebar 2 </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, et, molestias praesentium temporibus soluta esse iure quasi inventore eveniet eaque voluptate eos voluptatem quas possimus perferendis iusto quidem beatae tempore.</p>
        </div>
          
      </div>      
    </div>
  </div>
  
  
  <!-- Three box columns with margins -->
  
  <div class= 'parent-container'>
    <div class='callout'>
      <h4> Callout 1</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aut, labore asperiores ut reiciendis officiis deleniti! Nisi ullam iusto quidem. Et, deserunt, enim iure deleniti officiis ipsum aut magni quae!</p>
    </div>
    
    <div class ='callout'>
      <h4> Callout 2</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aut, labore asperiores ut reiciendis officiis deleniti! Nisi ullam iusto quidem. Et, deserunt, enim iure deleniti officiis ipsum aut magni quae!</p>
    </div>
    
    <div class='callout'>
      <h4> Callout 3</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aut, labore asperiores ut reiciendis officiis deleniti! Nisi ullam iusto quidem. Et, deserunt, enim iure deleniti officiis ipsum aut magni quae!</p>
    </div>
  </div>
  
  <!-- Several items in a row -->
  
  <div class='photo-parent'>
    
    <div class='photo-item'>
      Hello
    </div>
    
    <div class='photo-item'>
      Hello    
    </div>
    
    <div class='photo-item'>
      Hello    
    </div>
    
    <div class='photo-item'>
      Hello    
    </div>
    
    <div class='photo-item'>
      Hello    
    </div>
    
    <div class='photo-item'>
      Hello    
    </div>  
  </div>



<!-- Center text in box ! -->

  <div class='center-parent'>
    <div class='center-object'>
      <p> Hello World! </p>
    </div>
  </div>
  
  
  <!-- Flex within a flex -->
  
  <div class='insception-container'>
    <div class='item'>
      <h4> Title </h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, repellat, dolorum! Omnis, blanditiis, nostrum, ipsum fugit quos quod fugiat odio pariatur nam inventore illum quas assumenda perspiciatis illo excepturi aut!</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, repudiandae ipsum minus fugiat amet delectus deleniti sapiente. Tenetur, ducimus, at cumque officiis nulla ut ipsum eligendi quisquam autem impedit fugit!</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, laudantium, placeat, numquam, quia ullam debitis repudiandae exercitationem consequatur modi a temporibus facere aspernatur voluptatum quo distinctio incidunt eligendi saepe nemo?</p>
    </div>
    
    <div class='item-sub-container'>
      <div class='sub-item-1'>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, mollitia, laboriosam, earum, dolores vero a consectetur officia aut odit quos alias et ullam odio cum libero sequi itaque doloribus ab! </p>
      </div>
      <div class='sub-item-2'>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, mollitia, laboriosam, earum, dolores vero a consectetur officia aut odit quos alias et ullam odio cum libero sequi itaque doloribus ab! </p>
      </div>      
    </div>
  </div>


</div> <!-- bootstrap container -->
