<div class='container'>
  <div class = 'row'>
    <div class='col-md-12'>
      
      <div class='page-heading'>
        <h1>Hello</h1>
      </div>
        
        
      <div class = 'structure-wrap'>
  
        <div class='layer-wrap'>
          
          <div class='first-layer-heading layer-heading'>
            <h1> First layer</h1>  
          </div>
          <div class='first-layer-description layer-description'>
            <p> First layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>
          </div>
          
        </div>
        
        <div class='layer-wrap'>
          
          <div class='second-layer-heading layer-heading'>
            <h1> Second layer</h1>  
          </div>
          <div class='second-layer-description layer-description'>
            <p> Second layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>                
          </div>
          
        </div>        
        
        <div class='layer-wrap'>
          
          <div class='third-layer-heading layer-heading'>
            <h1> Third layer</h1>  
          </div>
          <div class='third-layer-description layer-description'>
            <p> Third layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>                
          </div>
          
        </div>        
        
        <div class='layer-wrap'>
          
          <div class='fourth-layer-heading layer-heading'>
            <h1> Fourth layer</h1>  
          </div>
          <div class='fourth-layer-description layer-description'>
            <p> Fourth layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>                
          </div>
          
        </div>    
        
      </div>  <!-- layer-wrap wrap end -->
        
   
    </div> <!-- main col end -->
  </div> <!-- main row end -->
</div>

