<div class='container'>
  <div class = 'row'>
    <div class='col-md-12'>
      
      <div class='page-heading'>
        <h1>Hello</h1>
      </div>
        
        
      <div class = 'structure-wrap'>
  
        <div class='layer-wrap'>
          
          <div class='layer-heading' id= 'layer-heading-1' data-descriptionid = '#layer-description-1'>
            <h1> First layer</h1>  
          </div>
          <div class='layer-description hiding' id='layer-description-1'>
            <p> First layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>
          </div>
          
        </div>
        
        <div class='layer-wrap'>
          
          <div class='layer-heading' id='layer-heading-2' data-descriptionid = '#layer-description-2'>
            <h1> Second layer</h1>  
          </div>
          <div class='layer-description hiding' id= 'layer-description-2'>
            <p> Second layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>                
          </div>
          
        </div>        
        
        <div class='layer-wrap'>
          
          <div class='layer-heading' id='layer-heading-3' data-descriptionid = '#layer-description-3'>
            <h1> Third layer</h1>  
          </div>
          <div class='layer-description hiding' id ='layer-description-3'>
            <p> Third layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>                
          </div>
          
        </div>        
        
        <div class='layer-wrap'>
          
          <div class='layer-heading' id='layer-heading-4' data-descriptionid = '#layer-description-4'>
            <h1> Fourth layer</h1>  
          </div>
          <div class='layer-description hiding' id='layer-description-4'>
            <p> Fourth layer description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste at non repudiandae aliquid. Provident, nihil eum ducimus facere dolor corrupti inventore consequuntur sunt doloribus atque. Qui, exercitationem nemo non officiis. </p>                
          </div>
          
        </div>    
        
      </div>  <!-- layer-wrap wrap end -->
        
   
    </div> <!-- main col end -->
  </div> <!-- main row end -->
</div>

