<div class='svg-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
              
              
        <%= render "svg-col" %>

        
      </div>
    </div>    
  </div>      
</div>