<div class='svg-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        
        <h1> Semi-interactive Stratigraphic Column </h1>
        <p> Hover over the icons to get their description. </br>
        To pan across the image, do click + hold and drag the image. </br>
        Zoom in by double clicking or scrolling down; zoom out by scrolling down. </p>
        
        <div class= 'svg-outer-wrapper'>
          <%= render "svg-col" %>
        </div>
        
      </div>
    </div>    
  </div>      
</div>