.deforestation-bg {
  background-color: red;
  padding: 20px;
  display: block;
  text-align: center;
}


.deforestation-svg-container {
  margin-top: 20px;
  border: solid black 1px;  
  overflow: hidden;
  display: inline-block;
  background-color: white;
}

#deforestation_svg {
  margin: auto;
  padding: 20px;
}
